<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to scan QR codes.</string>
	<key>com.apple.security.device.wifi</key>
	<true/>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>WiFiDetection</key>
		<string>We need temporary location access to detect your current WiFi network name.</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need location access to detect your current WiFi network name.</string>
</dict>
</plist>
